<div>
  <div class="camilla-title">
    插图
  </div>
  <h2>
    个人简介
    <a class="more">更多 +</a>
  </h2>
  <!--<hr>-->
  <div class="row">
    <div class="col-md-4">
      <img class="profile-photo" src="assets/img/aaa.jpg">
    </div>
    <div class="col-md-8 profile">
      <div class="name">宋昕冉 - SNH48 Team X</div>
      <div>昵称： 冉冉，小太阳</div>
      <div>出生日期： 1997年7月8日</div>
      <div>出生地： 山东省济南市</div>
      <div>身高： 166cm</div>
      <div>血型： O型</div>
      <div>经纪公司： 上海丝芭文化传媒有限公司</div>
      <div>代表作品： 《如果你拥抱我》《梦》</div>
      <div>总选经历： 2015年第二届23名，2016年第三届18名</div>
    </div>
  </div>
  <h2>
    最新发布
    <a class="more" [routerLink]="['/videos']">更多 +</a>
  </h2>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>

</div>
