<div class="container">
  <div class="row">
    <ui-dropdown [id]="'yearFilter'" [label]="'VIDEO.YEAR_FILTER'" [options]="yearFilter" [selected]="selectedYear" (onSelected)="setSelectedYear($event)"></ui-dropdown>
    <ui-dropdown [id]="'yearFilter'" [label]="'VIDEO.TYPR_FILTER'" [options]="yearFilter" [selected]="selectedYear" (onSelected)="setSelectedYear($event)"></ui-dropdown>
    <ui-dropdown [id]="'yearFilter'" [label]="'VIDEO.SORT'" [options]="yearFilter" [selected]="sort" (onSelected)="setSelectedYear($event)"></ui-dropdown>
  </div>
  <hr>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
  <div class="col-md-4 col-sm-6" style="text-align: center">
    <ui-video [title]="test" [url]="'abc'" [coverImg]="coverUrl"></ui-video>
  </div>
</div>
